In [2]:
%load_ext autoreload
%autoreload 2

In [43]:
import polars as pl
import pandas as pd
import seaborn as sns

In [39]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

print(train.shape, test.shape)
display(train.head(2))
display(test.head(2))

(891, 12) (418, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1198,0,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1,2,113781,151.550,C22 C26,S
1,1094,0,1,"Astor, Col. John Jacob",male,47.0,1,0,PC 17757,227.525,C62 C64,C

In [40]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [41]:
train.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [42]:
high_ordinality_cols = ['PassengerId', 'Name', 'Age', 'Ticket', 'Fare', 'Cabin', 'Survived']
for feat1_index in range(len(train.columns)):
    for feat2_index in range(feat1_index+1, len(train.columns)):
        if (train.columns[feat1_index] not in high_ordinality_cols) & (train.columns[feat2_index] not in high_ordinality_cols):
            print('='*50)
            print(train.columns[feat1_index], train.columns[feat2_index])

            print('Train DF:')
            display(
                train[[train.columns[feat1_index], train.columns[feat2_index], 'Survived']]
                .groupby([train.columns[feat1_index], train.columns[feat2_index]], as_index=False)
                .agg(
                    SurvivalRate = ('Survived', 'mean'), 
                    GroupCount = ('Survived', 'count'), 
                )
            )
            print('Test DF:')
            display(
                test[[test.columns[feat1_index], test.columns[feat2_index], 'Survived']]
                .groupby([test.columns[feat1_index], test.columns[feat2_index]], as_index=False)
                .agg(
                    SurvivalRate = ('Survived', 'mean'), 
                    GroupCount = ('Survived', 'count'), 
                )
            )

==================================================
Pclass Sex
Train DF:

   Pclass     Sex  SurvivalRate  GroupCount
0       1  female      0.968085          94
1       1    male      0.368852         122
2       2  female      0.921053          76
3       2    male      0.157407         108
4       3  female      0.500000         144
5       3    male      0.135447         347

Test DF:

   Pclass     Sex  SurvivalRate  GroupCount
0       1  female      0.960000          50
1       1    male      0.280702          57
2       2  female      0.800000          30
3       2    male      0.126984          63
4       3  female      0.472222          72
5       3    male      0.191781         146

==================================================
Pclass SibSp
Train DF:

    Pclass  SibSp  SurvivalRate  GroupCount
0        1      0      0.562044         137
1        1      1      0.746479          71
2        1      2      0.800000           5
3        1      3      0.666667           3
4        2      0      0.416667         120
5        2      1      0.581818          55
6        2      2      0.500000           8
7        2      3      1.000000           1
8        3      0      0.236467         351
9        3      1      0.325301          83
10       3      2      0.333333          15
11       3      3      0.083333          12
12       3      4      0.166667          18
13       3      5      0.000000           5
14       3      8      0.000000           7

Test DF:

    Pclass  SibSp  SurvivalRate  GroupCount
0        1      0      0.557377          61
1        1      1      0.619048          42
2        1      2      1.000000           3
3        1      3      1.000000           1
4        2      0      0.306452          62
5        2      1      0.407407          27
6        2      2      0.500000           4
7        3      0      0.287500         160
8        3      1      0.341463          41
9        3      2      0.142857           7
10       3      3      0.333333           3
11       3      4      0.000000           4
12       3      5      0.000000           1
13       3      8      0.000000           2

==================================================
Pclass Parch
Train DF:

    Pclass  Parch  SurvivalRate  GroupCount
0        1      0      0.607362         163
1        1      1      0.677419          31
2        1      2      0.761905          21
3        1      4      0.000000           1
4        2      0      0.358209         134
5        2      1      0.750000          32
6        2      2      0.812500          16
7        2      3      1.000000           2
8        3      0      0.225722         381
9        3      1      0.363636          55
10       3      2      0.255814          43
11       3      3      0.333333           3
12       3      4      0.000000           3
13       3      5      0.200000           5
14       3      6      0.000000           1

Test DF:

    Pclass  Parch  SurvivalRate  GroupCount
0        1      0      0.531646          79
1        1      1      0.789474          19
2        1      2      0.833333           6
3        1      3      0.500000           2
4        1      4      1.000000           1
5        2      0      0.222222          72
6        2      1      0.636364          11
7        2      2      0.888889           9
8        2      3      1.000000           1
9        3      0      0.260116         173
10       3      1      0.590909          22
11       3      2      0.222222          18
12       3      4      0.000000           1
13       3      5      0.000000           1
14       3      6      0.000000           1
15       3      9      0.000000           2

==================================================
Pclass Embarked
Train DF:

   Pclass Embarked  SurvivalRate  GroupCount
0       1        C      0.694118          85
1       1        Q      0.500000           2
2       1        S      0.582677         127
3       2        C      0.529412          17
4       2        Q      0.666667           3
5       2        S      0.463415         164
6       3        C      0.378788          66
7       3        Q      0.375000          72
8       3        S      0.189802         353

Test DF:

   Pclass Embarked  SurvivalRate  GroupCount
0       1        C      0.678571          56
1       1        Q      1.000000           1
2       1        S      0.500000          50
3       2        C      0.636364          11
4       2        Q      0.000000           4
5       2        S      0.320513          78
6       3        C      0.342857          35
7       3        Q      0.317073          41
8       3        S      0.260563         142

==================================================
Sex SibSp
Train DF:

       Sex  SibSp  SurvivalRate  GroupCount
0   female      0      0.787356         174
1   female      1      0.754717         106
2   female      2      0.769231          13
3   female      3      0.363636          11
4   female      4      0.333333           6
5   female      5      0.000000           1
6   female      8      0.000000           3
7     male      0      0.168203         434
8     male      1      0.310680         103
9     male      2      0.200000          15
10    male      3      0.000000           5
11    male      4      0.083333          12
12    male      5      0.000000           4
13    male      8      0.000000           4

Test DF:

       Sex  SibSp  SurvivalRate  GroupCount
0   female      0      0.681818          88
1   female      1      0.740741          54
2   female      2      0.833333           6
3   female      3      1.000000           1
4   female      4      0.000000           1
5   female      5      0.000000           1
6   female      8      0.000000           1
7     male      0      0.200000         195
8     male      1      0.196429          56
9     male      2      0.125000           8
10    male      3      0.333333           3
11    male      4      0.000000           3
12    male      8      0.000000           1

==================================================
Sex Parch
Train DF:

       Sex  Parch  SurvivalRate  GroupCount
0   female      0      0.788660         194
1   female      1      0.766667          60
2   female      2      0.612245          49
3   female      3      0.750000           4
4   female      4      0.000000           2
5   female      5      0.250000           4
6   female      6      0.000000           1
7     male      0      0.165289         484
8     male      1      0.327586          58
9     male      2      0.322581          31
10    male      3      0.000000           1
11    male      4      0.000000           2
12    male      5      0.000000           1

Test DF:

       Sex  Parch  SurvivalRate  GroupCount
0   female      0      0.656566          99
1   female      1      0.857143          28
2   female      2      0.700000          20
3   female      3      1.000000           2
4   female      4      0.500000           2
5   female      9      0.000000           1
6     male      0      0.168889         225
7     male      1      0.458333          24
8     male      2      0.230769          13
9     male      3      0.000000           1
10    male      5      0.000000           1
11    male      6      0.000000           1
12    male      9      0.000000           1

==================================================
Sex Embarked
Train DF:

      Sex Embarked  SurvivalRate  GroupCount
0  female        C      0.876712          73
1  female        Q      0.750000          36
2  female        S      0.689655         203
3    male        C      0.305263          95
4    male        Q      0.073171          41
5    male        S      0.174603         441

Test DF:

      Sex Embarked  SurvivalRate  GroupCount
0  female        C      0.950000          40
1  female        Q      0.416667          24
2  female        S      0.659091          88
3    male        C      0.306452          62
4    male        Q      0.181818          22
5    male        S      0.159341         182

==================================================
SibSp Parch
Train DF:

    SibSp  Parch  SurvivalRate  GroupCount
0       0      0      0.303538         537
1       0      1      0.657895          38
2       0      2      0.724138          29
3       0      3      1.000000           1
4       0      4      0.000000           1
5       0      5      0.000000           2
6       1      0      0.520325         123
7       1      1      0.596491          57
8       1      2      0.631579          19
9       1      3      0.333333           3
10      1      4      0.000000           3
11      1      5      0.333333           3
12      1      6      0.000000           1
13      2      0      0.250000          16
14      2      1      0.857143           7
15      2      2      0.500000           4
16      2      3      1.000000           1
17      3      0      1.000000           2
18      3      1      0.000000           7
19      3      2      0.285714           7
20      4      1      0.000000           9
21      4      2      0.333333           9
22      5      2      0.000000           5
23      8      2      0.000000           7

Test DF:

    SibSp  Parch  SurvivalRate  GroupCount
0       0      0      0.300395         253
1       0      1      0.928571          14
2       0      2      0.642857          14
3       0      3      1.000000           1
4       0      4      0.000000           1
5       1      0      0.400000          60
6       1      1      0.575758          33
7       1      2      0.600000          10
8       1      3      0.500000           2
9       1      4      1.000000           1
10      1      5      0.000000           1
11      1      6      0.000000           1
12      1      9      0.000000           2
13      2      0      0.300000          10
14      2      1      1.000000           2
15      2      2      0.500000           2
16      3      0      0.000000           1
17      3      1      0.500000           2
18      3      2      1.000000           1
19      4      1      0.000000           1
20      4      2      0.000000           3
21      5      2      0.000000           1
22      8      2      0.000000           2

==================================================
SibSp Embarked
Train DF:

    SibSp Embarked  SurvivalRate  GroupCount
0       0        C      0.477064         109
1       0        Q      0.389831          59
2       0        S      0.303653         438
3       1        C      0.679245          53
4       1        Q      0.454545          11
5       1        S      0.489655         145
6       2        C      0.833333           6
7       2        Q      0.666667           3
8       2        S      0.315789          19
9       3        S      0.250000          16
10      4        Q      0.000000           4
11      4        S      0.214286          14
12      5        S      0.000000           5
13      8        S      0.000000           7

Test DF:

    SibSp Embarked  SurvivalRate  GroupCount
0       0        C      0.548387          62
1       0        Q      0.292683          41
2       0        S      0.294444         180
3       1        C      0.594595          37
4       1        Q      0.333333           3
5       1        S      0.400000          70
6       2        C      0.333333           3
7       2        Q      1.000000           1
8       2        S      0.400000          10
9       3        S      0.500000           4
10      4        Q      0.000000           1
11      4        S      0.000000           3
12      5        S      0.000000           1
13      8        S      0.000000           2

==================================================
Parch Embarked
Train DF:

    Parch Embarked  SurvivalRate  GroupCount
0       0        C      0.512195         123
1       0        Q      0.434783          69
2       0        S      0.285124         484
3       1        C      0.633333          30
4       1        Q      0.000000           6
5       1        S      0.560976          82
6       2        C      0.714286          14
7       2        Q      0.000000           1
8       2        S      0.461538          65
9       3        C      1.000000           1
10      3        S      0.500000           4
11      4        S      0.000000           4
12      5        Q      0.000000           1
13      5        S      0.250000           4
14      6        S      0.000000           1

Test DF:

    Parch Embarked  SurvivalRate  GroupCount
0       0        C      0.452055          73
1       0        Q      0.311111          45
2       0        S      0.271845         206
3       1        C      0.857143          21
4       1        Q      0.000000           1
5       1        S      0.566667          30
6       2        C      0.833333           6
7       2        S      0.444444          27
8       3        C      0.500000           2
9       3        S      1.000000           1
10      4        S      0.500000           2
11      5        S      0.000000           1
12      6        S      0.000000           1
13      9        S      0.000000           2

In [50]:
# train.head()

In [52]:
#EDA for non numeric features
# sns.histplot(data=train, x="Age", hue='Sex')
# sns.histplot(data=train, x="Fare", hue='Sex')